## Gradle
/build/
.gradle

# Avoid ignoring Gradle wrapper jar file (.jar files are usually ignored)
!gradle-wrapper.jar

## IDEA
/out/
/.idea/*
!/.idea/gradle.xml
!/.idea/vcs.xml
!/.idea/runConfigurations
/.idea/runConfigurations/*
!/.idea/runConfigurations/App.xml
